.mainContainer{
    height: 100vh;
    min-width: 100px;
    z-index: 1;
    flex-grow: 1;
    backdrop-filter: blur(10px);
    background: rgba(34, 34, 34, 0.6);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.banner{
    height: 300px;
    position: relative;
}
.banner .bannerImg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100);
}
.banner .bottom{
    position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
}
.banner .content{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content{
    position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
.content .breadCrump{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .breadCrump p{
font-size: 14px;
color: rgb(59, 0, 0);
font-weight: 600;
letter-spacing: 1px;
}
.content .breadCrump P span{
    color: rgb(59, 0, 0);
}
.content .breadCrump i{
    color: rgb(59, 0, 0);
    font-size: 24px ;
    cursor: pointer;
}
.content .artist{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(59, 0, 0);
}
.content .artist .left .name {
    display: flex;
    align-items: center;
}
.content .artist .left .name h2{
font-size: 40px;
}
.content .artist .left .name img {
    width: 30px;
    margin-left: 10px;
  }
  .content .artist .left p {
    font-size: 14px;
  }
  .content .artist .left p i {
margin-right: 6px;  
}
.content .artist .left p span{
color:rgb(59, 0, 0) ;  
margin-left: 6px;
}
.content .artist .right {
    display: flex;
    align-items: center;
}
.content .artist .right a{
    text-decoration: none;
    padding: 10px 30px;
    font-size: 18px;
    color: black;
    border-radius: 100vw;
    margin: 0 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.content .artist .right a:nth-child(1){
    background:rgb(63, 0, 0);
    color: aliceblue;
}
.content .artist .right a:nth-child(2){
    background: rgba(0, 0, 0, 0.3);
color: rgb(0, 0, 0);
border: 1px solid rgba(255, 255, 255, 0.2);
margin-right: 0;
color: rgb(255, 255, 255);
}
.mainContainer .menuList{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 30px;
    background: #2c2c2c;

}
.menuList ul{
   display: flex; 
align-items: center;   
}
.menuList ul li{
    list-style: none;
    margin: 0 25px;
    position: relative;
}
.mainContainer .menuList ul li a {
    text-decoration:none ;
    color: rgb(255, 255, 255);
}
.mainContainer .menuList ul li::before{
    position: absolute;
    content: '';
    bottom: -20px;
    left: 10px;
    width: 0px;
    height: 5px;
    background: #ffffff;
    border-radius: 5px;
}
.mainContainer .menuList ul li:hover::before,
.mainContainer .menuList ul li.active::before{
    width: 20px;
    transition: widht 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.mainContainer .menuList ul li:hover a,
.mainContainer .menuList ul li.active a{
    color: black;
    transition: 0.3s ease;
}
.mainContainer .menuList p{
    color: #ffffff;
    font-size: 14px;
}
.mainContainer p i{
font-size: 12px;
margin-right: 6px;
}
.mainContainer p span{
    margin-left: 6px;
    color: rgb(255, 255, 255);
}


